*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid
}

.gird-items {
    border: 2px solid black;
    background-color: aquamarine;

}